/* You can add global styles to this file, and also import other style files */
@import "@angular/cdk/overlay-prebuilt.css";

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

// Overlay panel styling
.overlay-panel {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
}
